body{
    background-image: url("http://www.twitrcovers.com/wp-content/uploads/2012/12/Harry-Potter-l.jpg");
    width: 100%;
}

.container {
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
}
/*START GAME PAGE*/
#startBtn {
font-size: 50px;
margin-left: 25%;
font-family: 'Righteous', cursive;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}