body{
    background-image: url("http://www.twitrcovers.com/wp-content/uploads/2012/12/Harry-Potter-l.jpg");
    width: 100%;
    text-align: center;
}

.container {
 
    margin-left: 25%;
    margin-right: 25%;
}

img {
    position: relative;
}

/*START GAME PAGE*/
#startBtn {
font-size: 50px;
margin-top: 5%;
margin-bottom: 5%;
font-family: 'Righteous', cursive;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1{
    font-family: Righteous,cursive;
    font-size: 20px;
}

/*QUESTION PAGE*/
#game-play {
    background-color: white;
}

#timer {
    font-size: 40px;
    border: 2px solid goldenrod;
    padding: 2px;
}
#currentQuestion {
    font-size: 40px;
    border: 2px solid goldenrod;
}
.question {
    font-size: 40px;
    border: 2px solid goldenrod;
}
.answerList{
    font-size: 40px;
    border: 2px solid goldenrod;
}

/*RESPONSIVENESS*/
@media screen and (max-width:640px){
	.container{
		width: 80%;
		size: 200%;
    }}
    
.thisChoice:hover{
    background-color: green;
    color: yellow;
    padding: 5px;
}